= button_tag t("buttons.adopted", :count => @adopted), :form => "nameform", :type => "button", :value => "", :class => "btn btn-success cat-btn ", :id => "adopted"

= button_tag t("buttons.not_adopted", :count => @not_adopted) , :form => "nameform", :type => "button", :value => "", :class => "btn btn-default cat-btn ", :id => "not_adopted"
