%li
 %button.button-2{:form => "nameform", :type => "submit", :value => ""} michafu

/ %li.social_button
/   .fb-like{"data-href" => "http://adopt.twaa-mtaro.org/", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "90"}  