%li.social_button
  %a.link_1.twitter-share-button{"data-hashtags" => "", "data-text" => "I adopted a sidewalk to keep clear of snow on #ChicagoShovels. Will you lend a hand this winter?", "data-url" => "http://bit.ly/xTstHw", "data-counturl" => "http://adopt.chicagoshovels.org/", :href => "https://twitter.com/share"}
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
