#tos.font_1.font_14
  = image_tag "logos/twaa-mtaro.jpeg", :style => "width:310px; height: 130px;",  :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
  %br
  %br
  %p
    The City of Dar es salaam, its agents, and its employees
  %p
    (i) are not liable for any improper or incorrect use of the information on this site,
  %p
    (ii) assume no responsibility for anyone's use of the information,
  %p
    (iii) are not liable for any damages (of any type, for any reason, however caused, or under any theory of liability) arising in any way out of the use of this site.