#tos.font_1.font_14
  = image_tag "logos/asw_logo.png", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
  %br
  %br
  %p
    The City of Chicago, its agents, and its employees
  %p
    (i) are not liable for any improper or incorrect use of the information on this site,
  %p
    (ii) assume no responsibility for anyone's use of the information,
  %p
    (iii) are not liable for any damages (of any type, for any reason, however caused, or under any theory of liability) arising in any way out of the use of this site.
  %p
    Having your sidewalk 'adopted' by a volunteer does not change your liability under the Chicago Municipal Code for failure to remove snow as the owner of the property abutting.