*.gem
*.rbc
*.un~
.*.sw[a-z]
.DS_Store
.Spotlight-V100
.Trashes
.generators
._*
.bundle
.idea
.config
.sass-cache/
.yardoc
Icon?
InstalledFiles
Session.vim
_yardoc
coverage
db/*.sqlite3
public/assets
doc/
bin/
lib/bundler/man
log/*.log
pkg/
rdoc/
spec/reports
test/tmp
test/version_tmp
tmp/
vendor/bundle
vendor/cache
./config/initializers/recaptcha.rb
./config/database.yml
config/database.yml
config/secrets.yml
db/schema.rb
Gemfile.lock

