#sign_up_box
  = form_for :user, :url => user_registration_path, :html => {:id => "assign_drain", :class => 'form'} do |f|
    .signup
      %ul.horizontal_items
        %li
          = select_tag(:city_id, '<option value="1">Lisbon</option>...')
      %ul.horizontal_items.font_12.center
        %li#new_assign
          = f.submit t("buttons.")
          = f.submit t("captions.add_user")
