#testdiv
  %h2 Users
  = succeed "/" do
    %input#myInput{:placeholder => "Search for names..", :title => "Type in a name", :type => "text"}/
  .users{:style => "max-height:200px; width:450px;overflow:auto;"}
    %table#location
      %tr
        %th Index
        %th FirstName
        %th LastName
        %th Action
  %div.link_add_user
    %a#add_user
      = t("captions.add_user")
