= button_tag t("captions.add_drain",:street => current_user.street.try(:street_name)),
:class => "btn btn-success btn-block cat-btn",
 :id => "add_drain", :gid => @drain.gid, :street => current_user.street.id