$(function () {


    // Shows social media links, for sharing drain info
    $('body').on('click', '.share_link', function (e) {
        drain_gid = $(this).attr('data_gid');

        if ($(".drain_social_media").css("display") == 'none') {
            $(".drain_social_media").css({
                position: "relative", display: "block"
                , left: '10%'
            });
        }
        else {
            $(".drain_social_media").css({display: "none"});
        }

    });


    /* filters drains based on a specific criteria */
    function get_categories() {

        $('#cleaned').on('click', function () {
            showSpinner();
            refreshKML("cleaned");
            $('.navbar-collapse').collapse('hide')
        });
        $('#uncleaned').on('click', function () {
            showSpinner();
            refreshKML("uncleaned");
            $('.navbar-collapse').collapse('hide')
        });
        $('#need_help').on('click', function () {
            showSpinner();
            refreshKML("need_help");
            $('.navbar-collapse').collapse('hide')
        });
        $('#unknown').on('click', function () {
            showSpinner();
            refreshKML("unknown");
            $('.navbar-collapse').collapse('hide')
        });
        $('#all').on('click', function () {
            showSpinner();
            refreshKML("all");
            $('.navbar-collapse').collapse('hide')
        });
        $('#adopted').on('click', function () {
            showSpinner();
            refreshKML("adopted");
            $('.navbar-collapse').collapse('hide')
        });
        $('#not_adopted').on('click', function () {
            showSpinner();
            refreshKML("not_adopted");
            $('.navbar-collapse').collapse('hide')
        });


        /* searching for  drains */
        $('#address_button').on('click', function () {
            showSpinner();
            var address = $('#address').val();
            refreshKML("address=" + address);

        });
    }

    window.updateNotification = function () {

        var notification_msg = $('#notice').text();
        $('#notice').hide();
        if (notification_msg) {

            //add a new style 'foo'
            $.notify.addStyle('foo', {
                html: "<div>" +
                "<div class='clearfix'>" +
                "<div class='title' data-notify-html='title'>" +
                notification_msg +
                "</div>" +
                "<button class='buttons no'>&#10006;</button>" +
                "</div>" +
                "</div>"
            });

            //listen for click events from this style
            $(document).on('click', '.notifyjs-foo-base .no', function () {
                //programmatically trigger propogating hide event
                $(this).trigger('notify-hide');

            });
            $(document).on('click', '.notifyjs-foo-base .yes', function () {
                //show button text
                alert($(this).text() + " clicked!");
                //hide notification
                $(this).trigger('notify-hide');
            });

            var h5 = $("<h5/>").append(notification_msg);

            $.notify({}, {
                style: 'foo',
                autoHide: false,
                clickToHide: false,
                position: 'top center'
            });

        }
    }

    get_categories();
    updateNotification();


});  /* end of function */

$(document).ready(function () {
    $("#page").click(function () {
        $("#myDiv").fadeToggle("slow");
    });
});
$(window).resize(function () {
    if ($(window).width() > 768) {
        $('#myDiv').show();
        $('#page').hide();
    } else {

    }

    if ($(window).width() < 767) {
        $('#myDiv').hide();
        $('#page').show();
    } else {

    }
});