function init() {
    var center = new L.LatLng(-6.7992, 39.2428);
    var mapOptions = {
        center: center,
        zoom: 9
    }

    var map = L.map('map_canvas',mapOptions);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
        maxZoom: 18
    }).addTo(map);

}
