$(function () {


    var user_id;
    var pos;

    /* signs up new users for assigning drains */
    $('body').on('submit', '#new_user', function (e) {
        e.preventDefault();
        var locale = urlParam('locale');
        var gen_password = Math.random() // Generate random number, eg: 0.123456
            .toString(36) // Convert  to base-36 : "0.4fzyo82mvyr"
            .slice(-8);// Cut off last 8 characters : "yo82mvyr"

        var submitButton = $("input[type='submit']", this);
        var uemail = $('#user_email');
        var ufname = $('#user_first_name');
        var ulname = $('#user_last_name');
        var uPhone = $('#user_sms_number');
        var uStreet = $(this).attr('data-moid')
        var upwd = gen_password;
        var upwdc = gen_password;
        var errors = [];


        submitButton.attr('disabled', 'disabled');
        if (ufname.val() === '') {
            markError(ufname, errors);
        } else {
            unmarkError(ufname);
        }
        if (ulname.val() === '') {
            markError(ulname, errors);
        } else {
            unmarkError(ulname);
        }
        if (!/[\w\.%\+\]+@[\w\]+\.+[\w]{2,}/.test(uemail.val())) {
            markError(uemail, errors);
        } else {
            unmarkError(uemail);
        }
        if (!/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im.test(uPhone.val())) {
            markError(uPhone, errors);
        } else {
            unmarkError(uPhone);
        }
        if (errors.length > 0) {
            submitButton.removeAttr('disabled');
            errors[0].focus();
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/createuser.json',
                data: {
                    'commit': submitButton.val(),
                    'utf8': '✓',
                    'authenticity_token': $('input[name="authenticity_token"]', this).val(),
                    'recaptcha_challenge_field': $('#recaptcha_challenge_field').val(),
                    'recaptcha_response_field': $('#recaptcha_response_field').val(),
                    'user': {
                        'email': uemail.val(),
                        'first_name': ufname.val(),
                        'last_name': ulname.val(),
                        'password': upwd,
                        'sms_number': standardizePhoneNumber(uPhone.val()),
                        'street_id': uStreet,
                        'password_confirmation': upwdc,
                    },
                    'locale': locale
                },
                beforeSend: function () {


                },
                error: function (jqXHR) {
                    data = $.parseJSON(jqXHR.responseText);
                    hideSpinner();
                    showInfoWindow();
                    submitButton.removeAttr('disabled');
                    if (data) {
                        createPopup(data.html, map.getCenter());
                        popup.setContent($('#IWCONTENT')[0]);
                        ajaxJS(data.html);
                    }

                },
                success: function (data) {
                    user_id = data.user.id;
                    if (user_id) {
                        assignDrain(pos)
                    }
                    fetchDrainInfo();
                }
            });

        }

    });





    function assignDrain(pos) {
        var locale = urlParam('locale');
        var success_message_en = 'You have successfully assigned this drain! ';
        var success_message_sw = 'Umefanikiwa kugawia huu mtaro! ';
        var success_message = locale === 'en' ? success_message_en : success_message_sw

        $.ajax({
            type: 'POST',
            url: '/drain_claims',
            data: {
                'gid': activeObjectId,
                'user_id': user_id,
                'authenticity_token': AUTH_TOKEN,
                'locale': locale
            },
            error: function (jqXHR) {
                data = $.parseJSON(jqXHR.responseText);
                alert(data.errors);
            },
            success: function (data) {
                refreshKML("all");
                fetchDrainInfo(activeObjectId, pos);
                //add a new style 'foo'
                $.notify.addStyle('foo', {
                    html: "<div>" +
                    "<div class='clearfix'>" +
                    "<div class='title' data-notify-html='title'>" +
                    success_message +
                    "</div>" +
                    "<button class='buttons no'>&#10006;</button>" +
                    "</div>" +
                    "</div>"
                });

                //listen for click events from this style
                $(document).on('click', '.notifyjs-foo-base .no', function () {
                    //programmatically trigger propogating hide event
                    $(this).trigger('notify-hide');


                });
                $(document).on('click', '.notifyjs-foo-base .yes', function () {
                    //show button text
                    alert($(this).text() + " clicked!");
                    //hide notification
                    $(this).trigger('notify-hide');
                });


                $.notify({}, {
                    style: 'foo',
                    autoHide: true,
                    clickToHide: false,
                    position: 'top right'
                });

            }
        });
    }

    // Shows social media links, for sharing drain info

    $('body').on('click', '.share_link', function (e) {
        drain_gid = $(this).attr('data_gid');

        if ($(".drain_social_media").css("display") == 'none') {
            $(".drain_social_media").css({
                position: "relative", display: "block"
                , left: '10%'
            });
        }
        else {
            $(".drain_social_media").css({display: "none"});
        }

    });




    $('#paginator').on('click', function () {
        var locale = urlParam('locale');

        $.ajax({
            type: 'GET',
            url: 'drain_claims/adopt',
            data: {
                'locale': locale
            },
            success: function (msg) {
                createPopup(msg, drainLocation);
            }
        });
        return false;
    });

    window.bind = function (pos) {

        $('#abandon_link').on('click', '.abdn_link', function () {
            var locale = urlParam('locale');
            var message_en = 'Are you sure that you want to abandon this drain?';
            var message_sw = 'Una thibitisha kubadili mgao wa huu mtaro ?';
            var confirmation_message = locale === 'en' ? message_en : message_sw
            if (window.confirm(confirmation_message)) {

                $.ajax({
                    type: 'POST',
                    url: '/drain_claims/' + $(this).attr('data-moid'),
                    data: {
                        'gid': activeObjectId,
                        'authenticity_token': AUTH_TOKEN,
                        '_method': 'delete',
                        'locale': locale
                    },
                    error: function (jqXHR) {
                        data = $.parseJSON(jqXHR.responseText);

                    },
                    success: function (data) {
                        refreshKML("all");
                        fetchDrainInfo(activeObjectId, pos);
                    }
                });
            }
            return false;
        });


        $('#user_forgot_password_link').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '/forgot_password',
                success: function (data) {
                    createPopup(data, map.getCenter());

                }
            });
            return false;
        });


        $('body').on('click', '.button_forgot_password', function () {
            var f = $(this).closest('form.forgot_pw_form');
            var submitButton = $("input[type='submit']", f);
            var uemail = $('.user_email', f);
            var errors = [];


            submitButton.attr('disabled', 'disabled');
            if (!/[\w\.%\+\]+@[\w\]+\.+[\w]{2,}/.test(uemail.val())) {
                markError(uemail, errors);
            } else {
                unmarkError(uemail);
            }
            if (errors.length > 0) {
                submitButton.removeAttr('disabled');
                errors[0].focus();
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/users/password.json',
                    data: {
                        'commit': submitButton.val(),
                        'utf8': '✓',
                        'authenticity_token': $('input[name="authenticity_token"]', f).val(),
                        'user': {
                            'email': uemail.val()
                        }
                    },
                    beforeSend: function () {
                    },
                    error: function (jqXHR) {
                        //hideSpinner();
                        //showInfoWindow();
                        submitButton.removeAttr('disabled');
                        markError(uemail, errors);
                        uemail.focus();
                    },
                    success: function () {
                        $.ajax({
                            type: 'GET',
                            url: '/users/sign_in',
                            data: {
                                'user': {
                                    'email': uemail.val()
                                },
                                'flash': {
                                    'notice': "<%= I18n.t("notices.password_reset") %>"
                                }
                            },
                            success: function (data) {
                                createPopup(data, map.getCenter());
                            }
                        });
                    }
                });
            }
            return false;
        });


        $('#abandon_link').on('click', '.chng_link', function () {
            var locale = urlParam('locale');
            var message_en = 'Are you sure that you want to change status?';
            var message_sw = 'Una thibitisha kubadili hali ya huu mtaro ?';
            var confirmation_message = locale === 'en' ? message_en : message_sw
            if (window.confirm(confirmation_message)) {
                var shoveled;
                if ($(this).attr('data-moid') == "Yes" || $(this).attr('data-moid') == "Ndio") {
                    shoveled = false;
                }
                else {
                    shoveled = true;
                }

                $.ajax({
                    type: 'POST',
                    url: '/drains/' + activeObjectId,
                    data: {
                        'gid': activeObjectId,
                        'shoveled': shoveled,
                        'authenticity_token': AUTH_TOKEN,
                        '_method': 'put',
                        'locale': locale

                    },
                    error: function (jqXHR) {
                        data = $.parseJSON(jqXHR.responseText);

                    },
                    success: function (data) {
                        refreshKML("all");
                        fetchDrainInfo(activeObjectId, pos);
                    }
                });
            }
            return false;
        });


        /*Function for adopting a drain */
        $('#location').on('click', '.btnassing', function () {
            user_id = $(this).attr('data-user-id');
            assignDrain(pos);
            return false;
        });


        /* adding more claims on a drain */
        $('body').on('click', '#add_claim, #assign', function () {
            var locale = urlParam('locale');

            $.ajax({
                type: 'GET',
                url: 'drain_claims/adopt',
                data: {
                    'locale': locale
                },
                success: function (msg) {
                    createPopup(msg, drainLocation);

                }
            });
            return false;
        });


        $('#clean').on('click', function () {
            var id = $(this).attr('data-moid');
            var locale = urlParam('locale');

            showSpinner();

            $.ajax({
                type: 'POST',
                url: '/drains/' + id,
                data: {
                    'moid': $(this).attr('data-moid'),
                    'authenticity_token': AUTH_TOKEN,
                    '_method': 'put',
                    'shoveled': true,
                    'locale': locale
                },
                error: function (jqXHR) {
                    data = $.parseJSON(jqXHR.responseText);

                    hideSpinner();
                },
                success: function (data) {
                    refreshKML("all");
                    fetchDrainInfo(id, drain_pos);
                }
            });
            return false;
        });

        $('#unclean').on('click', function () {
            var id = $(this).attr('data-moid');
            var locale = urlParam('locale');
            showSpinner();

            $.ajax({
                type: 'POST',
                url: '/drains/' + id,
                data: {
                    'moid': $(this).attr('data-moid'),
                    'authenticity_token': AUTH_TOKEN,
                    '_method': 'put',
                    'shoveled': false,
                    'locale': locale
                },
                error: function (jqXHR) {
                    data = $.parseJSON(jqXHR.responseText);

                },
                success: function (data) {

                    refreshKML("all");
                    fetchDrainInfo(id, drain_pos);

                }
            });
            return false;
        });

        /* displays drain help details inside a popup */
        $('body').on('click', '#need_help_details', function () {

            var locale = urlParam('locale');

            $.ajax({
                type: 'GET',
                url: 'need_helps',
                data: {
                    'locale': locale,
                    'gid': $(this).attr('data-help-details-id')
                },
                success: function (msg) {

                    createPopup(msg, drain_pos);
                }

            });
            return false;
        });

        $('#drain_help').on('click', function (e) {
            if ($('#need_help_help_needed').val().length == 0 && !window.confirm('Ujaweka maelezo ya msaada, ombi lako litumwe?')) {
                return false;
            }

            var submitButton = $("input[type='submit']", this);
            i = $(e.target);
            var id = activeObjectId;
            var locale = urlParam('locale');
            submitButton.attr('disabled', 'disabled');
            showSpinner();


            $.ajax({
                type: 'POST',
                url: '/need_helps',
                data: {
                    'commit': submitButton.val(),
                    'utf8': '✓',
                    'authenticity_token': $('input[name="authenticity_token"]', this).val(),
                    'need_help': {
                        'help_needed': $('#need_help_help_needed').val(),
                        'need_help_category_id': $('#need_help_need_help_category_id').val(),
                        'user_id': $(this).attr('data-moid'),
                        'gid': id
                    },
                    'locale': locale
                },
                error: function (jqXHR) {
                },
                success: function (data) {
                    $.ajax({
                        type: 'POST',
                        url: '/drains/' + id,
                        data: {
                            'moid': id,
                            'authenticity_token': AUTH_TOKEN,
                            '_method': 'put',
                            'need_help': true,
                            'locale': locale
                        },
                        error: function (jqXHR) {
                            data = $.parseJSON(jqXHR.responseText);
                        },
                        success: function (data) {

                            refreshKML("all");
                            fetchDrainInfo(id, drain_pos);

                        }
                    });


                }
            });
            return false;
        });
    }

    function get_categories() {

        $('#cleaned').on('click', function () {
            showSpinner();
            refreshKML("cleaned");
            $('.navbar-collapse').collapse('hide')
        });
        $('#uncleaned').on('click', function () {
            showSpinner();
            refreshKML("uncleaned");
            $('.navbar-collapse').collapse('hide')
        });
        $('#need_help').on('click', function () {
            showSpinner();
            refreshKML("need_help");
            $('.navbar-collapse').collapse('hide')
        });
        $('#unknown').on('click', function () {
            showSpinner();
            refreshKML("unknown");
            $('.navbar-collapse').collapse('hide')
        });
        $('#all').on('click', function () {
            showSpinner();
            refreshKML("all");
            $('.navbar-collapse').collapse('hide')
        });
        $('#adopted').on('click', function () {
            showSpinner();
            refreshKML("adopted");
            $('.navbar-collapse').collapse('hide')
        });
        $('#not_adopted').on('click', function () {
            showSpinner();
            refreshKML("not_adopted");
            $('.navbar-collapse').collapse('hide')
        });

        $('#address_button').on('click', function () {
            showSpinner();
            var address = $('#address').val();
            refreshKML("address=" + address);

        });
    }

    /* searching table of users */

    $('body').on('keyup', '#myInput', function () {

        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("location");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        return false;
    });

    $('body').on('click', '.view_drain',
        function (e) {
            activeObjectId = $(this).attr('data-gid');
            $('#address').val(activeObjectId);

            $('#address_button')[0].click();

            var lat = $(this).attr('data-lat');
            var lng = $(this).attr('data-lng');
            var latlng = L.latLng(lat, lng);
            map.setView(latlng, 19);


            return false;
        });


    $('body').on('click', '#view_street',
        function (e) {
            var lat = $(this).attr('data-lat');
            var lng = $(this).attr('data-lng');
            var latlng = L.latLng(lat, lng);

            map.setView(latlng, 17);
            $('.navbar-collapse').collapse('hide')
        });


    function updateNotification() {

        var notification_msg = $('#notice').text();
        console.log('update notification called');
        console.log(notification_msg);
        $('#notice').hide();
        if (notification_msg) {

            //add a new style 'foo'
            $.notify.addStyle('foo', {
                html: "<div>" +
                "<div class='clearfix'>" +
                "<div class='title' data-notify-html='title'>" +
                notification_msg +
                "</div>" +
                "<button class='buttons no'>&#10006;</button>" +
                "</div>" +
                "</div>"
            });

            //listen for click events from this style
            $(document).on('click', '.notifyjs-foo-base .no', function () {
                //programmatically trigger propogating hide event
                $(this).trigger('notify-hide');

            });
            $(document).on('click', '.notifyjs-foo-base .yes', function () {
                //show button text
                alert($(this).text() + " clicked!");
                //hide notification
                $(this).trigger('notify-hide');
            });

            var h5 = $("<h5/>").append(notification_msg);

            $.notify({}, {
                style: 'foo',
                autoHide: false,
                clickToHide: false,
                position: 'top center'
            });

        }
    }

    /* Updates claims status */
    get_categories();
    updateNotification();


});  /* end of function */

$(document).ready(function () {
    $("#page").click(function () {
        $("#myDiv").fadeToggle("slow");
    });
});
$(window).resize(function () {
    if ($(window).width() > 768) {
        $('#myDiv').show();
        $('#page').hide();
    } else {

    }

    if ($(window).width() < 767) {
        $('#myDiv').hide();
        $('#page').show();
    } else {

    }
});