/*
This file contains all logic that involve the openstreetmap

add here all functions that depend on map
*/



var popup;


$(function(){
    var center = new L.LatLng(-6.817523270254579, 39.25610303878784);


    // Map background layers

    var mapboxAttribution = '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a>'+
        ' © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> '+
        '<strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">'+
        'Improve this map</a></strong>'
    var customOsmBright = new L.TileLayer('https://api.mapbox.com/styles/v1/samtwesa/'+
        'cj6p13u2o25wa2rmj3k05qnrx/tiles/256/{z}/{x}/{y}?access_token='+
        'pk.eyJ1Ijoic2FtdHdlc2EiLCJhIjoiZTc1OTQ4ODE0ZmY2MzY0MGYwMDNjOWNlYTYxMjU4NDYifQ.'+
        'F1zCcOYqpXWd4C9l9xqvEQ'
        ,{
            attribution: mapboxAttribution,
            maxZoom: 20
        });

    // map layer for satellite imagery
    var satelliteLayer = new L.TileLayer('https://api.mapbox.com/styles/v1/mapbox/satellite-v9/'+
        'tiles/256/{z}/{x}/{y}?access_token='+
        'pk.eyJ1Ijoic2FtdHdlc2EiLCJhIjoiZTc1OTQ4ODE0ZmY2MzY0MGYwMDNjOWNlYTYxMjU4NDYifQ.'+
        'F1zCcOYqpXWd4C9l9xqvEQ'
        ,{
            attribution: mapboxAttribution,
            maxZoom: 20
        });

    var osmAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,'+
        ' <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>';

    var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
        attribution:osmAttr,
        maxZoom: 19
    });

    var inundationAttribution = '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a>'+
        ' © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> '+
        '© <a href="https://www.ramanihuria.org">Ramani Huria</a>'+
        '<strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">'+
        'Improve this map</a></strong>'

    var inundation = new L.tileLayer( 'https://api.mapbox.com/styles/v1/samtwesa/'+
        'cj670gav2029o2rmrrg886sj7/tiles/256/{z}/{x}/{y}?access_token='+
        'pk.eyJ1Ijoic2FtdHdlc2EiLCJhIjoiZTc1OTQ4ODE0ZmY2MzY0MGYwMDNjOWNlYTYxMjU4NDYifQ.'+
        'F1zCcOYqpXWd4C9l9xqvEQ'
        ,{
            attribution: inundationAttribution,
            maxZoom: 18
        });

    var mapOptions = {
        center: center,
        zoom: 13,
        minZoom: 7,
        maxZoom: 20,
        doubleClickZoom: true,
        layers:[ osm, satelliteLayer, customOsmBright]
    }

    /* Creating map*/

    var map = new L.Map('map_canvas', mapOptions);

    // Add basemaps and their menu
    var baseMaps = {
        "Openstreetmap": osm,
        "Satellite": satelliteLayer,
        "Standard": customOsmBright
    };

    L.control.layers(baseMaps).addTo(map);

    // Click standard layer to override unusual maps tiles load
    $( "input[name='leaflet-base-layers']" )[2].click();



    /*
    add all shared fuctions that depend on map below here
    * */

    window.getMap = function () {
        return map;
    }


    /* popup Window for displaying details of Mtaro */
    window.createPopup = function (msg, pos) {
        if (pos == null) {
            pos = map.getCenter();

        }
        popup = L.popup({maxWidth: 960})
            .setLatLng(pos)
            .setContent(msg)
            .openOn(map);
        bind(pos);
    }

});
