// Place all the behaviors and hooks related to the user controller here.
// All this logic will automatically be available in application.js.

$(function () {


/*helper functions for showing errors in forms */
    function markError(i, e) {
        e.push(i);
        $(i).addClass('error');
    }

    function unmarkError(i) {
        $(i).removeClass('error');
    }


    /* stardardizes the phonenumber */
    function standardizePhoneNumber(num) {
        var country_code = "255";
        if (num.startsWith("0")) {
            var standard_number = country_code.concat(num.slice(1))
            return standard_number;
        }
        else {
            return num;
        }
    }


    /* executes javascript for recaptcha */
    function ajaxJS(data) {

        $(data).find('script').each(function () {
            $.ajax({
                url: this.src,
                dataType: "script",
                success: function () {
                }
            });
        });
    }

    /* displays sign_up form inside a popup */
    $('body').on('click', '#sign_up_link', function () {
        var locale = urlParam('locale');
        $('.navbar-collapse').collapse('hide')

        $.ajax({
            type: 'GET',
            url: '/users/sign_up',
            data: {
                'locale': locale
            },
            success: function (msg) {
                createPopup(msg, map.getCenter());
                ajaxJS(msg);
            }
        });
        return false;
    });


    /* shows for adding users in assigning drains */
    $('body').on('click', '#add_user', function () {
        var locale = urlParam('locale');

        $.ajax({
            type: 'GET',
            url: '/add',
            data: {
                'locale': locale
            },
            success: function (msg) {
                createPopup(msg, drain_pos);
                ajaxJS(msg);
            }
        });
        return false;
    });




    /* displays sign_in form inside a popup */
    $('body').on('click', '#sign_in_link', function () {

        var locale = urlParam('locale');
        $('.navbar-collapse').collapse('hide');


        $.ajax({
            type: 'GET',
            url: '/users/sign_in',
            data: {
                'locale': locale
            },
            success: function (msg) {

                createPopup(msg, map.getCenter());
            }

        });
        return false;
    });


    /* signs in registered users */
    $('body').on('submit', 'form.sign_in_form', function (e) {
        i = $(e.target);
        var submitButton = $("input[type='submit']", i);
        var usms_number = $('.user_sms_number', i);
        var upwd = $('.user_password', i);
        var err_msg = $('.error_msg', i);
        var errors = [];

        var locale = urlParam('locale');


        e.preventDefault();
        submitButton.attr('disabled', 'disabled');
        if (upwd.val().length < 6 || upwd.val().length > 20) {
            markError(upwd, errors);
        } else {
            unmarkError(upwd);
        }
        if (errors.length > 0) {
            submitButton.removeAttr('disabled');
            errors[0].focus();
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/users/sign_in.json',
                data: {
                    'commit': submitButton.val(),
                    'utf8': '✓',
                    'authenticity_token': $('input[name="authenticity_token"]', i).val(),
                    'user': {
                        'sms_number': standardizePhoneNumber(usms_number.val()),
                        'password': upwd.val(),
                        'remember_me': $('.user_remember_me', i).val()
                    },
                    'locale': locale
                },
                beforeSend: function () {
                },
                error: function (jqXHR) {
                    data = $.parseJSON(jqXHR.responseText);
                    submitButton.removeAttr('disabled');
                    err_msg.html('<h2>' + data.errors.password + '</h2>');
                    popup.setContent($('#IWCONTENT')[0]);
                    usms_number.focus();

                },
                success: function () {
                    $('.sign_links').remove();
                    updateSidebar();
                    fetchDrainInfo();
                    window.location.href = window.location.hostname;
                    window.location.reload();

                }
            });
        }

        return false;
    });




    /* displays user profile inside a popup */
    $('body').on('click', '#my_profile', function () {

        var locale = urlParam('locale');
        $('.navbar-collapse').collapse('hide');

        $.ajax({
            type: 'GET',
            url: '/profile',
            data: {
                'locale': locale
            },
            success: function (msg) {

                createPopup(msg, map.getCenter());
            }

        });
        return false;
    });


    /* displays edit profile form inside a popup */
    $('body').on('click', '#edit_profile_form', function () {

        var locale = urlParam('locale');


        $.ajax({
            type: 'GET',
            url: '/users/edit',
            data: {
                'locale': locale
            },
            success: function (msg) {

                createPopup(msg, map.getCenter());
            }

        });
        return false;
    });



}); // end of function