html {
  height: 100%;
}

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 26px;
  color: #444;
}

h2.address {
  font-size: 22px;
  color: #43c457;
}

#map_canvas {
  height: 100%;
  width: 76%;
  position: relative;
  margin-left: 325px;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  overflow: hidden;
  padding: 10px;
  z-index: 20;
}

form {
  width: 90%;
  margin: auto;
}

#sidebar #tagline {
  text-align: center;
  padding: 10px;
  background: #c33;
  color: #fff;
}

#sidebar #logos {
  text-align: center;
}

#sidebar #logos img {
  padding: 10px 5px 0 5px;
}

#sidebar #feedback {
  text-align: center;
}

#sidebar img#hydrant-in-snow {
  width: 100%;
}

#error, #notice, #warning {
  margin: auto;
  padding: 5px 10px;
}

#error {
  background-color: #ff7373;
  border: 1px solid #c07373;
}

#notice {
  background-color: #8fe38f;
  border: 1px solid #82b082;
}

#warning {
  background-color: #fff773;
  border: 1px solid #c0bb73;
}

label, input {
  white-space: nowrap;
  text-align: left;
}

input, select, option, button, input[type="submit"] {
  display: inline;
  margin-bottom: 5px;
  font-size: 1.0em;
}

input[type="radio"], input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-right: 10px;
}

button, input[type="submit"] {
  text-align: center;
  width: auto;
}

label.error {
  color: #c33;
}

input.error {
  background-color: #ffc;
}

.upcase {
  text-transform: uppercase;
}

.alpha {
  list-style-type: lower-alpha;
}

.roman {
  list-style-type: lower-roman;
}

img.lock {
  height: 9px;
  width: 7px;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.dialog {
  display: none;
}

ul.actions_menu {
  margin: 10px 0 10px 0;
  padding: 10px 0 0 0;
  font-size: 16px;
  list-style-type: square;
}

.actions_menu li a,
.actions_menu li a:visited {
  color:#3164d2;
  cursor:pointer;
  outline-style:none;
  text-decoration:none;
}
.actions_menu li a:hover {
  text-decoration:underline;
  color:#3164d2;
}
.link_1 {
  color:#3164d2;
  cursor:pointer;
  outline-style:none;
  text-decoration:none;
}
.link_1 {
  text-decoration:underline;
  color:#3164d2;
}

#osw_widget {
  position: relative;
  margin: 5px 0 0 5px;
}

#user_badge {
  background-color: #eee;
  border: 1px solid #aaa;
  margin: 15px 0 15px 0;
  color: #666;
}

.font_1 {
  font-family:"Trebuchet MS",Arial,Helvetica,Sans-Serif;
  font-size: 14px;
  color: #444;
}
#address_form label {
  font-family:"Trebuchet MS",Arial,Helvetica,Sans-Serif;
  font-size: 16px;
  color: #600;
}
#scrollup {
  position: relative;
  overflow: hidden;
  height: 150px;
  width: auto;
}
.headline {
  position: absolute;
  top: 160px;
  left: 5px;
  height: 145px;
  width:auto;
}
.clearfix:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
ul.signin {
  list-style: none;
  margin: 10px 0 0 10px;
  padding: 0;
}
.signin label {
  float: left;
  font-weight: bold;
  font-size: 12px;
  color: #555;
  width: 80px;
}
.signin input {
  width: 150px;
  color: #444;
  font-size: 12px;
}
.signin li.remember {
  margin-left: 80px;
  text-decoration: none;
  font-size: 12px;
  color: #777;
}
.signin li.button {
  margin-left: 80px;
}
.signin input[type="checkbox"] {
  width: 18px;
}
.signin input[type="submit"] {
  width: 80px;
}
.social_button {
  float: left;
  margin: 10px 0 10px 10px;
}
