html {
  height: 100%;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 26px;
  color: #444;
}
h2.address {
  font-size: 22px;
  color: #666;
}
h3 {
  font-size: 18px;
  color: #888;
  margin: 0;
}

#map_canvas {
  height: 100%;
  width: auto;
  position: relative;
  margin-left: 340px;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 320px;
  overflow: hidden;
  padding: 10px;
  z-index: 20;
}

form {
  margin: auto;
}

img {
  border: none;
}

#sidebar #tagline {
  text-align: center;
  padding: 10px;
  background: #c33;
  color: #ffffff;
}

#sidebar #logos {
  text-align: center;
}

#sidebar #logos img {
  padding: 10px 5px 0 5px;
}

#sidebar #feedback {
  text-align: center;
}

#error, #notice, #warning {
  margin: auto;
  padding: 5px 10px;
}

#error {
  background-color: #ff7373;
  border: 1px solid #c07373;
}

.error_msg {
  color: #ff7373;
  width: auto;
}
.error_msg h2 {
  font-size: 16px;
}
#error_explanation h2,
#sidebar .error_msg h2 {
  font-size: 14px;
  color: #f00;
}
#notice {
  background-color: #8fe38f;
  border: 1px solid #82b082;
}

#warning {
  background-color: #fff773;
  border: 1px solid #c0bb73;
}

label, input {
  white-space: nowrap;
  text-align: left;
}

input, select, option, button, input[type="submit"] {
  display: inline;
  margin-bottom: 5px;
  font-size: 1.0em;
}

input[type="radio"], input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-right: 10px;
}

button, input[type="submit"] {
  text-align: center;
  width: auto;
}

label.error {
  color: #c33;
}

input.error {
  background-color: #fe7575 !important;
  border: 1px solid #000 !important;
  color: #ffffff !important;
}

.upcase {
  text-transform: uppercase;
}

.alpha {
  list-style-type: lower-alpha;
}

.roman {
  list-style-type: lower-roman;
}

img.lock {
  height: 9px;
  width: 7px;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.dialog {
  display: none;
}

.link_1 a,
.link_1 a:visited {
  color:#3164d2;
  cursor:pointer;
  outline-style:none;
  text-decoration:none;
}
.link_1 a:hover{
  text-decoration:underline;
  color:#3164d2;
}

#user_badge {
  padding: 5px;
  margin: 0px 0 0px 0;
  color: #666;
}
.radius_5 {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
.gray_box {
  background-color: #f9f9f9;
  border: 1px solid #dedede;
  box-shadow: 0 1px 0 #FFFFFF;
  padding: 5px;
  margin: 5px 0 0px 0;
}
#info_box {
  margin: 0px 0 0px 0;
  color: #555;
  font-size: 12px;
}
.color_warn {
  color: #dd3131 !important;
}
.font_1 {
  font-size: 14px;
  color: #444;
}
.font_10 {font-size: 10px;}
.font_12 {font-size: 12px;}
.font_14 {font-size: 14px;}
.font_16 {font-size: 16px;}
.font_18 {font-size: 18px;}
.font_20 {font-size: 20px;}
.font_22 {font-size: 22px;}
.font_bold {font-weight: bold;}

#address_form label {
  font-size: 16px;
  color: #447aa0;
}
#scrollup {
  position: relative;
  overflow: hidden;
  height: 150px;
  width: auto;
}
.headline {
  position: absolute;
  top: 160px;
  left: 5px;
  height: 145px;
  width:auto;
}
.clearfix:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
}
div.forgot_pw,
div.signin,
div.signup {
  list-style-type: none;
  margin: 10px 0 0 10px;
  padding: 0;
}
.form dt {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  margin: 0;
}
.form dd {
  margin: 0;
}
.form em {
  font-size: 11px;
  font-weight: normal;
  color: #aaa;
}
ul.features {
  padding: 0 5px 0 20px;
  text-align: left;
  margin: 0;
}
ul.horizontal_items {
  padding: 0;
  margin: 5px 0 0 0;
  clear: both;
}
ul.horizontal_items > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 0;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}
ul.horizontal_items > li label {
  display: inline-block;
  width: 140px;
  zoom: 1;
  *display: inline;
}
#sidebar ul.horizontal_items > li label {
  width: 85px;
  font-size: 13px;
  color: #888;
}
#sidebar .horizontal_items input[type="text"],
#sidebar .horizontal_items input[type="password"],
#sidebar .horizontal_items textarea,
#sidebar .horizontal_items select {
  width: 170px !important;
  padding: 2px;
}
.horizontal_items input[type="text"],
.horizontal_items input[type="password"],
.horizontal_items textarea,
.horizontal_items select {
  width: 220px !important;
}
ul.social_items {
  padding: 0;
  margin: 10px 0 10px 0;
}
ul.social_items > li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 95px;
}
#need_register {
  text-align: center;
  color: #555;
  font-size: 15px;
  margin: 10px 0 20px 0;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #aaa;
}
#current_status {
  margin-top: 10px;
}
.color_yes {
  color: #00AA00;
}
.color_no {
  color: #AA0000;
}
.horizontal_list {
  list-style: none;
  padding: 0;
}
.horizontal_list > li {
  display: inline;
  list-style-type: none;
  margin: 0 5px 0 0;
}
.item_separator > li {
  margin: 0 5px !important;
  color: #d5d5d5;
}
.center {
  text-align: center;
}
.nocenter {
  text-align: left;
}
#people_list {
  text-align: left;
}
.menu_1 li a,
.menu_1 li a:visited {
  color:#3164d2;
  cursor:pointer;
  outline-style:none;
  text-decoration:none;
}
.menu_1 li a:hover {
  text-decoration:underline;
  color:#3164d2;
}
#address_box {
  background: -moz-linear-gradient(center top , #f5feff, #b4daf5) repeat scroll 0 0 transparent;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5feff), color-stop(1, #b4daf5) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5feff', endColorstr='#b4daf5');
  background-image: -o-linear-gradient(top, #f5feff, #b4daf5);
  border: 1px solid #b4cdde;
  box-shadow: 0 1px 0 #FFFFFF;
  margin: 10px 0 0 0;
  padding: 10px;
}
#mini_profile {
  background: -moz-linear-gradient(center top , #ffffff, #e0f2ff) repeat scroll 0 0 transparent;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e0f2ff) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0f2ff');
  background-image: -o-linear-gradient(top, #ffffff, #e0f2ff);
  border: 1px solid #dadada;
  box-shadow: 0 1px 0 #FFFFFF;
  margin: 10px 0 0 0;
  padding: 7px 3px;
}
#sidebar_login {
  background: -moz-linear-gradient(center top , #ffffff, #ededed) repeat scroll 0 0 transparent;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ededed) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
  background-image: -o-linear-gradient(top, #ffffff, #ededed);
  border: 1px solid #dadada;
  box-shadow: 0 1px 0 #FFFFFF;
  margin: 10px 0 0 0;
  padding: 5px 10px;
}
#actions_box {
  width: 410px;
}
#forgot_pw_box,
#sign_in_box,
#sign_up_box {
  width: 400px;
}
ul.actions_menu {
/*  background-color: #eaf5ff;
  border-radius: 5px 5px 5px 5px;
*/
  overflow: hidden;
  padding: 10px;  
}
ul.actions_menu li {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5feff), color-stop(1, #b4daf5) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5feff', endColorstr='#b4daf5');
  background: -moz-linear-gradient(center top , #f5feff, #b4daf5) repeat scroll 0 0 transparent;
  background-image: -o-linear-gradient(top, #f5feff, #b4daf5);
  border: 1px solid #b4cdde;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0 1px 0 #FFFFFF;
  -webkit-box-shadow: 0 1px 0 #FFFFFF;
  box-shadow: 0 1px 0 #FFFFFF;
  color: #666666;
  display: block;
  float: left;
  font-weight: normal;
  height: 160px;
  margin: 0 4px 0 4px;
  position: relative;
  width: 120px;
}
ul.actions_menu li:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5feff), color-stop(1, #73c3fc) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5feff', endColorstr='#73c3fc');
  background: -moz-linear-gradient(center top , #f5feff, #73c3fc) repeat scroll 0 0 transparent;
  background-image: -o-linear-gradient(top, #f5feff, #73c3fc);
  border: 1px solid #6cb4e7
}
.actions_menu .adopt .btn_image {
  background-image: url("btn_adopt.png");
}
.actions_menu .abandon .btn_image {
  background-image: url("btn_abandon.gif");
}
.actions_menu .snowed .btn_image {
  background-image: url("btn_abandon.png");
}
.actions_menu .need_help .btn_image {
  background-image: url("btn_need_help.png");
}
.actions_menu .need_supplies .btn_image {
  background-image: url("btn_share.gif");
}
.actions_menu .shoveled .btn_image {
  background-image: url("btn_need_supplies.png");
}
.actions_menu .btn_image {
  background-position: center center;
  background-repeat: no-repeat;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #afc9f1;
  height: 70px;
}
.actions_menu .label {
  background-repeat: no-repeat;
  border-top: 1px solid #f0f0f0;
  display: block;
  height: 50px;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px 5px 3px;
  position: relative;
  z-index: 2;
  text-align: center;
}
.actions_menu h1 {
  color: #666;
  font-size: 18px;
  margin: 0;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #dee6f4;
}
.actions_menu a,
.actions_menu a:visited {
  font-size: 13px;
  color:#3164d2;
  cursor:pointer;
  outline-style:none;
  text-decoration:none;
}
.actions_menu a:hover{
  color:#3164d2;
}
.form input[type="text"],
.form input[type="password"],
.form textarea,
.form select {
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  color: #666;
  font: 13px/18px Helvetica Neue,Helvetica,Arial,sans-serif !important;
  margin: 0;
  padding: 5px;
  width: 360px;
}
form.wide label {
  width: 200px !important;
}
.form.narrow input[type="text"] {
  width: 145px !important;
}
.form.narrow input[type="submit"] {
	padding:3px 5px;
  font-size: 14px;
  width: 130px;
}
.form input[type="submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #287ace;
  zoom: 1;
  *display: inline;
}
.form input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}
.form input[type="submit"]:active {
	position:relative;
	top:1px;
}
.small_gray input[type="submit"] {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
  zoom: 1;
  *display: inline;
}
.small_gray input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

#legend {
  background: none;
}
.pen_gray   {color: #777;}
.pen_darkgray   {color: #444;}
.pen_lightgray   {color: #aaa;}

.needs_help {color: #de6060;}
.cleared    {color: #8e8e8e;}
.adopted    {color: #73acd5;}
.unclear    {color: #cccccc;}

#my_sidewalks caption {
  caption-side: top;
  color: #44759d;
  font-size: 14px;
  padding: 0 0 3px 0;
  margin: 10px 0 0 0;
  text-align: center;
  border-bottom: 1px solid #f4f8fa;
}  
#my_sidewalks thead th {
  padding: 3px 2px;
}
#my_sidewalks table {
  margin: 10px 0 5px 0;
  border-collapse: collapse;
}
#my_sidewalks td {
  color: #678197;
  /*background-color: #f4f8fa;*/
  padding: 0;
  text-align: center;
}
#my_sidewalks td.address {
  width: 170px;
  text-align: left;
}
a.delete_button {
	margin: 0px 0px;
	padding-top: 3px;
	background:transparent url('deleteIcon.gif') no-repeat scroll 0%;
	display:block;
	width:12px;
	height:12px;
}
#facebook_button{
	margin: 0px 0px;
	padding-top: 3px;
	display:block;
	width:154px;
	height:22px;
}
#facebook_button.login {
	background:transparent url('FacebookLoginButton.png') no-repeat scroll 0%;
}
#facebook_button.register {
	background:transparent url('FacebookRegisterButton.png') no-repeat scroll 0%;
}
#service_logos {
  margin: 0px 0 0 0;
}
#tos {
  padding: 30px;
}
#recaptcha_box {
  display: block;
  width: 350px;
  height: 130px;
}
.clearfix {
	display: inline-block;
  zoom: 1;
  *display: inline;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
