div.card-unclean {
    width: 270px;
    box-shadow: 0 4px 8px 0 rgba(46,138,138,1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    text-align: center;
    margin-top: 90px;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}
.overflow{
	float:left;
}


.success{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.primary{
     color: #fff;
     background-color: #6495ED;
     border-color: #93b4f0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 5px 5px 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-submit{
    background-color: #79bbff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #469df5;
    color: #ffffff;
    margin:0;
    font-size: 12px;
    font-weight:400;
    line-height: 1.42857143;
    padding: 4px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #287ace;
    zoom: 1;
}

.btn-submit:hover{
    cursor:pointer;
}