

div.card-unclean {
    width: 270px;
    box-shadow: 0 4px 8px 0 rgba(46, 138, 138, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    text-align: center;
    margin-top: 90px;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}

.overflow {
            float:left;
}


.info_adopt {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    border-radius: 4px;
}

.btnassing {
    background-color: #5bc0de;
    border: 2px solid #46b8da;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.btnassing:hover {
    background-color: #5bc0de;
    border: 2px solid #46b8da;
}


.hide_column {}

.change_drain {
    background-color: #f44336;
    border: 2px solid #f44336;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.change_drain:hover {
    background-color: #c93326;
    border: 2px solid #c93326;
}

.btn-submit {
/*    background-color: #79bbff;
*/    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #8b8c8c;;
    color: #000;
    opacity: 0.7;
    margin:0;
    padding: 4px 15px;
    text-decoration: none;
/*    text-shadow: 1px 1px 0px #287ace;
*/    zoom: 1;
}

.col-md-3.col-sm-3{
  display: hide;
}
.btn-submit:hover{
    cursor:pointer;
}
.legend {
    line-height: 10px;
    color: #555;
}

.legend i {
    width: 28px;
    height: 6px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border-radius: 2px;
    margin-top: 6px;
}

.legend h3 {
    margin-bottom: 8px;
    margin-top: 0px;
    
}

.info {
    padding: 7px 18px 10px 14px;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.col-lg-4.col-md-4.col-sm-4{
  padding-left: 0px;
  padding-right: 0px;
}
.col-lg-8.col-md-8.col-sm-8{
  padding-left: 0px;
  padding-right: 0px;
}

  #address_box,#mini_profile{
    height: 50%;
  }
 
#address_box{
  padding-right: 15px;
  padding-left: 12px;
  margin-left: 22px;
  margin-right: 25px;
/*  background:rgba(141, 222, 92, 0.56);
*/  border: 2px solid rgba(141, 222, 92, 0.56);
  box-shadow: 0 1px 0 #FFFFFF;
  padding: 10px;
}
.col-md-12.col-sm-12{
  padding-right: 0px;
  padding-left: 0px;
}

#view_street:hover, #refresh_link:hover{
    cursor: pointer;
}

.share_link:hover{
    cursor: pointer;
}


/* Social Media */

.social-share-button-facebook {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("facebook_small.png") no-repeat;
  margin-left: 10px;
}

.social-share-button-twitter {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("twitter_small.png") no-repeat;
    margin-left: 10px;
}

.social-share-button-google_plus {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("google_plus_small.png") no-repeat;
    margin-left: 10px;
 
}

.drain_social_media{
  display:none;
}

/* Customizing flood prone button*/

.btn-danger.cat-btn {
  border: 1.5px solid #d43f3a;
}