div.card-unclean {
    width: 270px;
    box-shadow: 0 4px 8px 0 rgba(46, 138, 138, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    text-align: center;
    margin-top: 90px;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}

.overflow {
            float:left;
}

.success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.info_adopt {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    border-radius: 4px;
}

.btnassing {
    background-color: #5bc0de;
    border: 2px solid #46b8da;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.btnassing:hover {
    background-color: #5bc0de;
    border: 2px solid #46b8da;
}



.change_drain {
    background-color: #f44336;
    border: 2px solid #f44336;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.change_drain:hover {
    background-color: #c93326;
    border: 2px solid #c93326;
}

.warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.primary {
    color: #fff;
    background-color: #6495ED;
    border-color: #93b4f0;
}

.btn {
    display: inline-block;
   padding:10px 3px 4px 2px ;
    margin: 0 10px 5px 22px;
    border-radius: 4px;
    text-align: center;
    color: white;      
}
.btn-group{
  margin-left: 20px;
}

.btn-submit {
    background-color: #79bbff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #469df5;
    color: #ffffff;
    margin:0;
    padding: 4px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #287ace;
    zoom: 1;
}

.col-md-3.col-sm-3{
  display: hide;
}
.btn-submit:hover{
    cursor:pointer;
}
.legend {
    line-height: 18px;
    color: #555;
    width:120px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border-radius: 2px;
}

.legend h3 {
    margin-bottom: 8px;
    margin-top: 0px;
}

.info {
    padding: 7px 18px 10px 14px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.header {
    margin-top: 4px;
    margin-bottom: 6px;
    padding: 5px 18px 8px 14px;
    font-weight:bold;
    margin-left: 22px;
    margin-right: 30px;
}

.col-lg-4.col-md-4.col-sm-4{
  padding-left: 0px;
  padding-right: 0px;
}
.col-lg-8.col-md-8.col-sm-8{
  padding-left: 0px;
  padding-right: 0px;
}

  #address_box,#mini_profile{
    height: 50%;
  }
   .navbar-brand img{
    height: 50%;
    width: 60%;
    padding-right: 10px;
    padding-left: 12px;
    margin-left: 17px;
  }
#address_box{
  padding-right: 15px;
  padding-left: 12px;
  margin-left: 22px;
  margin-right: 25px;
  background:rgba(141, 222, 92, 0.56);
  border: 1px solid #b4cdde;
  box-shadow: 0 1px 0 #FFFFFF;
  padding: 10px;

}
nav.navbar{
  overflow: auto;
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
  overflow-y: auto;
}

.navbar {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

.navbar-brand > img {
  display: block;
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 10px;
  padding: 9px 10px;
  margin-right: 18px;
  background:rgba(141, 222, 92, 0.56);
  background-image: none;
  border: 1px solid rgba(141, 222, 92, 0.56);
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
#page span {
  display: block;
  width: 18px;
  height: 3px;
  position: relative;
  margin-bottom: 2px;
  background: #6495ED;
  border-radius: 1px solid white ;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}
#page{
  float: right;
}
h3 {
  font-size: 24px;
    margin-top: 0px;
}
h2 {
  font-size: 30px;
}
.col-md-8{ 
    cursor: default;
    border: 0px solid #737373;
    top: 0%;
    bottom: 0%;
    height: 710px;
    width: 100%;
  }
/* Styles from mobile devices */
@media (max-width: 625px) {
  .radius_5,#feedback.font_12.link_1,#service_logos.center,#myDiv{
    display: none;
  }
   /*resixing the popup contents in the map*/
 #map_canvas {
  min-height: 730px;
    cursor: default;
    border: 0px solid #737373;
    top: 0%;
    bottom: 0%;
    height: 710px;
    width: 100%;
  }
    .btn.btn-success.cat-btn,
    .btn.btn-primary.cat-btn,
    .btn.btn-warning.cat-btn,
    .btn.btn-default.cat-btn{
      padding: 2px;
}
#actions_box{
  width: 210px;
  }
  .font_14 {
    font-size: 12px;
  }
  h3{
  font-size: 16px;
  }
  h2{
    font-size: 20px;
  }
    .legend i {
    width: 14px;
    height: 14px;
  }
 #forgot_pw_box,
  #sign_up_box, 
  #sign_in_box{
  width: 280px;
}
.font_1 {
  font-size: 10px;
  color: #444;
}
.form input[type="submit"] {
  padding: 0;
}

}

/* Special attributes for small, wide screens */
@media (max-height: 400px) {
 .navbar-brand img{
    height: 50%;
    width: 60%;
  }
   #showhide{
    display: block;
  }
}

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }

#actions_box{
  width: 210px;
  }
}

/*resizing the sidebar */
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
  .navbar {
    border-radius: 4px;
    position: fixed;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
    .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
   .navbar-toggle {
    display: none;
  }

  .navbar-brand img{
    width: 92%;
    height: 90px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0px;
    margin-top: 0px; 
    padding-left: 0px;
    padding-top: 0px;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/*media query for displaying content in a larger size */
@media (min-width: 768px) {
  #aside{
  background-color: #6495ED;
  height: 100%;
  display: block;
  overflow: hidden;
  position: fixed;

}
#map_canvas {
  min-height: 840px;
    cursor: default;
    border: 0px solid #737373;
    top: 0%;
    bottom: 0%;
    height: 710px;
    width: 100%;
  }
  #page{   
      display: none;
      cursor: pointer;

    }
#actions_box{
  width: 410px;
}
#forgot_pw_box,
#sign_in_box,
#sign_up_box {
  width: 400px;
}
  #address_box {
  background:rgba(141, 222, 92, 0.56);
  border: 1px solid #b4cdde;
  box-shadow: 0 1px 0 #FFFFFF;
  padding: 10px;
  margin:0px 0px 12px 0px; 
  
}

.legend {
    width:160px;
    padding: 6px;
}
.input-text{
    width: 165px;
}
.header{
    margin-top:4px;
    margin-bottom:6px;
    padding: 5px 18px 8px 14px;
    font-weight:bold;
    margin-left: 3px;
    margin-right: 0px;
}
.btn {
    display: inline-block;
    padding: 6px 5px;
    margin: 0 10px 5px 18px;
    border-radius: 4px;
    line-height: 1.42857143;

}
.btn-group{
  margin-left: 5px;
  }

}

