nav.navbar{
  overflow: auto;
}
.navbar-brand img{
     height: 30%;
    width: 40%;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 8px;
    margin-top: 5px;
  }
.navbar-collapse, {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
  overflow-y: auto;
}

.navbar {
  position: relative;
  margin-bottom: 8px;
  border: 1px solid transparent;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

.navbar-brand > img {
  display: block;
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 10px;
  padding: 9px 10px;
  margin-right: 18px;
  background:rgba(141, 222, 92, 0.56);
  background-image: none;
  border: 1px solid rgba(141, 222, 92, 0.56);
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
/*end of the navbar*/

.btn {
    display: inline-block;
/*    padding:10px 3px 4px 2px ;
*/    margin: 0 10px 5px 22px;
    border-radius: 4px;
    text-align: center;
    color: white; 
    font-size: 1em;     
}
.btn-group{
  margin-left: 65px;
        font-size: 13px;

}

#page{
  float: right;
}
h3 {
  font-size: 24px;
    margin-top: 0px;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.col-md-8{ 
    cursor: default;
    border: 0px solid #737373;
    top: 0%;
    bottom: 0%;
    width: 100%;
  }

input, select, option, button, input[type="submit"] {
  font-size: 0.9em;
  display: inline;
}
#address_box{
  margin-left: 52px;
  margin-right: 45px;
}
.header{
   margin-top:4px;
    margin-bottom:6px;
    padding: 5px 18px 8px 14px;
    margin-left: 48px;
    margin-right: 43px;
    text-align: center;
   font-size: 13px;
}
/* media query for resizing the map and sidebar */
@media (max-width: 625px) {
  .radius_5,#feedback.font_12.link_1,#service_logos.center,#myDiv{
    display: none;
  }
  .btn {
      font-size: 10px;
}

input, select, option, button, input[type="submit"] {
  font-size: 11.9px;
}
   /*resixing the popup contents in the map*/
 #map_canvas {
  min-height: 570px;
    cursor: default;
    border: 0px solid #737373;
    top: 0%;
    bottom: 0%;
    width: 100%;
  }
  .form-contol{
    width: 25%;
  }
.btn.btn-success.cat-btn,
.btn.btn-primary.cat-btn,
.btn.btn-warning.cat-btn,
.btn.btn-default.cat-btn{
      padding: 2px;
}
#actions_box{
  width: 210px;
  }
.font_14 {
    font-size: 12px;
  }
h3{
  font-size: 16px;
  }
h2{
    font-size: 20px;
  }
.legend i {
    width: 14px;
    height: 14px;
        font-size: 10px;

  }
#forgot_pw_box,
#sign_up_box, 
#sign_in_box{
  width: 280px;
}
.font_1 {
  font-size: 10px;
  color: #444;
}
.form input[type="submit"] {
  padding: 0;
}
}


/* Special attributes for mobile screen */
@media (max-width: 400px) {
 .navbar-brand img{
    height: 50%;
    width: 60%;
  }
#showhide{
    display: block;
  }
.input-text{
    width: 160px;
}
#address_box{
  margin-left: 22px;
  margin-right: 25px;
}
.header{
    margin-top:4px;
    margin-bottom:6px;
    padding: 5px 18px 8px 14px;
    font-weight:100;
    margin-left: 22px;
    margin-right: 30px;
    font-size: 10px;
}
.btn-group{
  margin-left: 20px;
}

}

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }

#actions_box{
  width: 210px;
  }
}

/*resizing the sidebar */
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
  .navbar {
    border-radius: 4px;
    position: fixed;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
    .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
   .navbar-toggle {
    display: none;
  }

  .navbar-brand img{
    width: 95%;
    height: 72px;
    margin-left: 15px;
    margin-right: 20px;
    padding-right: 0px;
    margin-top: 0; 
    padding-left: 0;
    padding-top:0;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/*media query for displaying content in a larger size */
@media (min-width: 768px) {
  #aside{
  background-color: #6495ED;
  height: 100%;
  display: block;
  overflow: hidden;
  position: fixed;

}
#map_canvas {
    min-height: 615px;
    position: relative;
    margin: 0px;
    padding: 0px;
    cursor: default;
    border: 0px solid #737373;
    top: 0%;
    bottom: 0%;
    width: 100% auto;

  }

  #page{   
      display: none;
      cursor: pointer;

    }
#actions_box{
  width: 410px;
}
#forgot_pw_box,
#sign_in_box,
#sign_up_box {
  width: 400px;
}
  #address_box {
  background:rgba(141, 222, 92, 0.56);
  border: 1px solid #b4cdde;
  box-shadow: 0 1px 0 #FFFFFF;
  padding: 10px;
  margin:0px 0px 12px 0px; 
  
}
nav.navbar{
}
.legend {
    width:160px;
    padding: 6px;
}
.input-text{
    width: 163px;
}
.btn-submit{
  float: right;
}
.header{
    margin-top:4px;
    margin-bottom:6px;
    padding: 5px 18px 8px 14px;
    font-weight:bold;
    margin-left: 3px;
    margin-right: 0px;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 6px 5px;
    margin: 0 10px 5px 18px;
    border-radius: 4px;
    line-height: 1.42857143;
    font-size: 13px;
}
.btn-group{
  margin-left: 5px;
  }

}
  /*for the col-md-*/
