
  //global variables
  var user_id;

$(function () {

    // Refreshs drain details on a popup
    $('body').on('click', '#refresh_link', function (e) {

        drain_gid = $(this).attr('data_gid');

        if (drain_pos == null) {
            drain_pos = map.getCenter();
        }
        showSpinner();
        fetchDrainInfo(drain_gid, drain_pos);

    });

    /*
    function for assigning drain to users
    * */

    window.assignDrain = function (pos) {
        var locale = urlParam('locale');
        var success_message_en = 'You have successfully assigned this drain! ';
        var success_message_sw = 'Umefanikiwa kugawia huu mtaro! ';
        var success_message = locale === 'en' ? success_message_en : success_message_sw

        $.ajax({
            type: 'POST',
            url: '/drain_claims',
            data: {
                'gid': activeObjectId,
                'user_id': user_id,
                'authenticity_token': AUTH_TOKEN,
                'locale': locale
            },
            error: function (jqXHR) {
                data = $.parseJSON(jqXHR.responseText);
                alert(data.errors);
            },
            success: function (data) {
                refreshKML("all");
                fetchDrainInfo(activeObjectId, pos);
                //add a new style 'foo'
                $.notify.addStyle('foo', {
                    html: "<div>" +
                    "<div class='clearfix'>" +
                    "<div class='title' data-notify-html='title'>" +
                    success_message +
                    "</div>" +
                    "<button class='buttons no'>&#10006;</button>" +
                    "</div>" +
                    "</div>"
                });

                //listen for click events from this style
                $(document).on('click', '.notifyjs-foo-base .no', function () {
                    //programmatically trigger propogating hide event
                    $(this).trigger('notify-hide');


                });
                $(document).on('click', '.notifyjs-foo-base .yes', function () {
                    //show button text
                    alert($(this).text() + " clicked!");
                    //hide notification
                    $(this).trigger('notify-hide');
                });


                $.notify({}, {
                    style: 'foo',
                    autoHide: true,
                    clickToHide: false,
                    position: 'top right'
                });

            }
        });
    }


    /* updating drain status to clean */

    $('body').on('click','#clean', function () {
        var id = $(this).attr('data-moid');
        var locale = urlParam('locale');

        showSpinner();

        $.ajax({
            type: 'POST',
            url: '/drains/' + id,
            data: {
                'moid': $(this).attr('data-moid'),
                'authenticity_token': AUTH_TOKEN,
                '_method': 'put',
                'shoveled': true,
                'locale': locale
            },
            error: function (jqXHR) {
                data = $.parseJSON(jqXHR.responseText);

                hideSpinner();
            },
            success: function (data) {
                refreshKML("all");
                fetchDrainInfo(id, drain_pos);
            }
        });
        return false;
    });


      /*updating drain status to unclean */

    $('body').on('click','#unclean', function () {
        var id = $(this).attr('data-moid');
        var locale = urlParam('locale');
        showSpinner();

        $.ajax({
            type: 'POST',
            url: '/drains/' + id,
            data: {
                'moid': $(this).attr('data-moid'),
                'authenticity_token': AUTH_TOKEN,
                '_method': 'put',
                'shoveled': false,
                'locale': locale
            },
            error: function (jqXHR) {
                data = $.parseJSON(jqXHR.responseText);

            },
            success: function (data) {

                refreshKML("all");
                fetchDrainInfo(id, drain_pos);

            }
        });
        return false;
    });

    /* zooms to a specific drain and shows it on map */
    $('body').on('click', '.view_drain',
        function (e) {
            activeObjectId = $(this).attr('data-gid');
            $('#address').val(activeObjectId);

            $('#address_button')[0].click();

            var lat = $(this).attr('data-lat');
            var lng = $(this).attr('data-lng');
            var latlng = L.latLng(lat, lng);
            map.setView(latlng, 19);


            return false;
        });

    $('body').on('click','#priority', function() {
        $.ajax({
            type: 'POST',
            url: '/drains/flood',
            data: {
                'drain_id': $(this).attr('data-moid')
            },
            error: function (jqXHR) {
            },
            success: function (data) {
            }
        });
    })




}); // end of function