// Place all the behaviors and hooks related to the user controller here.
// All this logic will automatically be available in application.js.

$(function () {


  /*
  helper functions for showing errors in forms
  * */
    function markError(i, e) {
        e.push(i);
        $(i).addClass('error');
    }

    function unmarkError(i) {
        $(i).removeClass('error');
    }


    /*
    shows an info window
    * */
    function showInfoWindow() {
        $('#info_window').show();
    }


    /*
    stardardizes the phonenumber
     *  */
    function standardizePhoneNumber(num) {
        var country_code = "255";
        if (num.startsWith("0")) {
            var standard_number = country_code.concat(num.slice(1))
            return standard_number;
        }
        else {
            return num;
        }
    }


    /* executes javascript for recaptcha */
    function ajaxJS(data) {

        $(data).find('script').each(function () {
            $.ajax({
                url: this.src,
                dataType: "script",
                success: function () {
                }
            });
        });
    }

    /* displays sign_up form inside a popup */
    $('body').on('click', '#sign_up_link', function () {
        var locale = urlParam('locale');
        $('.navbar-collapse').collapse('hide')

        $.ajax({
            type: 'GET',
            url: '/users/sign_up',
            data: {
                'locale': locale
            },
            success: function (msg) {
                createPopup(msg, map.getCenter());
                ajaxJS(msg);
            }
        });
        return false;
    });

    /* signs up new users */
    $('body').on('submit', '#sign_up_form', function () {
        var submitButton = $("input[type='submit']", this);
        var uemail = $('#user_email');
        var ufname = $('#user_first_name');
        var ulname = $('#user_last_name');
        var uPhone = $('#user_sms_number');
        var uStreet = $('#user_street_id');
        var upwd = $('#user_password');
        var upwdc = $('#user_password_confirmation');
        var errors = [];

        var locale = urlParam('locale');


        submitButton.attr('disabled', 'disabled');
        if (ufname.val() === '') {
            markError(ufname, errors);
        } else {
            unmarkError(ufname);
        }
        if (ulname.val() === '') {
            markError(ulname, errors);
        } else {
            unmarkError(ulname);
        }
        if (!/[\w\.%\+\]+@[\w\]+\.+[\w]{2,}/.test(uemail.val())) {
            markError(uemail, errors);
        } else {
            unmarkError(uemail);
        }
        if (!/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im.test(uPhone.val())) {
            markError(uPhone, errors);
        } else {
            unmarkError(uPhone);
        }
        if (upwd.val().length < 6 || upwd.val().length > 20) {
            markError(upwd, errors);
        } else {
            unmarkError(upwd);
        }
        if (upwdc.val().length < 6 || upwdc.val().length > 20) {
            markError(upwdc, errors);
        } else {
            unmarkError(upwdc);
        }
        if (errors.length > 0) {
            submitButton.removeAttr('disabled');
            errors[0].focus();
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/users.json',
                data: {
                    'commit': submitButton.val(),
                    'utf8': '✓',
                    'authenticity_token': $('input[name="authenticity_token"]', this).val(),
                    'recaptcha_challenge_field': $('#recaptcha_challenge_field').val(),
                    'recaptcha_response_field': $('#recaptcha_response_field').val(),
                    'user': {
                        'email': uemail.val(),
                        'first_name': ufname.val(),
                        'last_name': ulname.val(),
                        'sms_number': standardizePhoneNumber(uPhone.val()),
                        'street_id': uStreet.val(),
                        'password': upwd.val(),
                        'password_confirmation': upwdc.val(),
                    },
                    'locale': locale
                },
                beforeSend: function () {
                },
                error: function (jqXHR) {
                    data = $.parseJSON(jqXHR.responseText);
                    hideSpinner();
                    showInfoWindow();
                    submitButton.removeAttr('disabled');
                    if (data) {
                        createPopup(data.html, map.getCenter());
                        popup.setContent($('#IWCONTENT')[0]);
                        ajaxJS(data.html);
                    }

                },
                success: function (data) {
                    $('.sign_links').remove();
                    updateSidebar();
                    fetchDrainInfo();
                    window.location.href = window.location.hostname;
                    window.location.reload();

                }
            });

        }

        return false;
    });




    /* shows for adding users in assigning drains */
    $('body').on('click', '#add_user', function () {
        var locale = urlParam('locale');

        $.ajax({
            type: 'GET',
            url: '/add',
            data: {
                'locale': locale
            },
            success: function (msg) {
                createPopup(msg, drain_pos);
                ajaxJS(msg);
            }
        });
        return false;
    });


    /* signs up new users for assigning drains */
    $('body').on('submit', '#new_user', function (e) {
        e.preventDefault();
        var locale = urlParam('locale');
        var gen_password = Math.random() // Generate random number, eg: 0.123456
            .toString(36) // Convert  to base-36 : "0.4fzyo82mvyr"
            .slice(-8);// Cut off last 8 characters : "yo82mvyr"

        var submitButton = $("input[type='submit']", this);
        var uemail = $('#user_email');
        var ufname = $('#user_first_name');
        var ulname = $('#user_last_name');
        var uPhone = $('#user_sms_number');
        var uStreet = $(this).attr('data-moid')
        var upwd = gen_password;
        var upwdc = gen_password;
        var errors = [];


        submitButton.attr('disabled', 'disabled');
        if (ufname.val() === '') {
            markError(ufname, errors);
        } else {
            unmarkError(ufname);
        }
        if (ulname.val() === '') {
            markError(ulname, errors);
        } else {
            unmarkError(ulname);
        }
        if (!/[\w\.%\+\]+@[\w\]+\.+[\w]{2,}/.test(uemail.val())) {
            markError(uemail, errors);
        } else {
            unmarkError(uemail);
        }
        if (!/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im.test(uPhone.val())) {
            markError(uPhone, errors);
        } else {
            unmarkError(uPhone);
        }
        if (errors.length > 0) {
            submitButton.removeAttr('disabled');
            errors[0].focus();
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/createuser.json',
                data: {
                    'commit': submitButton.val(),
                    'utf8': '✓',
                    'authenticity_token': $('input[name="authenticity_token"]', this).val(),
                    'recaptcha_challenge_field': $('#recaptcha_challenge_field').val(),
                    'recaptcha_response_field': $('#recaptcha_response_field').val(),
                    'user': {
                        'email': uemail.val(),
                        'first_name': ufname.val(),
                        'last_name': ulname.val(),
                        'password': upwd,
                        'sms_number': standardizePhoneNumber(uPhone.val()),
                        'street_id': uStreet,
                        'password_confirmation': upwdc,
                    },
                    'locale': locale
                },
                beforeSend: function () {


                },
                error: function (jqXHR) {
                    data = $.parseJSON(jqXHR.responseText);
                    hideSpinner();
                    showInfoWindow();
                    submitButton.removeAttr('disabled');
                    if (data) {
                        createPopup(data.html, map.getCenter());
                        popup.setContent($('#IWCONTENT')[0]);
                        ajaxJS(data.html);
                    }

                },
                success: function (data) {
                    user_id = data.user.id;
                    if (user_id) {
                        assignDrain(drain_pos)
                    }
                    fetchDrainInfo();
                }
            });

        }

    });




    /* displays sign_in form inside a popup */
    $('body').on('click', '#sign_in_link', function () {

        var locale = urlParam('locale');
        $('.navbar-collapse').collapse('hide');


        $.ajax({
            type: 'GET',
            url: '/users/sign_in',
            data: {
                'locale': locale
            },
            success: function (msg) {

                createPopup(msg, map.getCenter());
            }

        });
        return false;
    });


    /* signs in registered users */
    $('body').on('submit', 'form.sign_in_form', function (e) {
        i = $(e.target);
        var submitButton = $("input[type='submit']", i);
        var usms_number = $('.user_sms_number', i);
        var upwd = $('.user_password', i);
        var err_msg = $('.error_msg', i);
        var errors = [];

        var locale = urlParam('locale');


        e.preventDefault();
        submitButton.attr('disabled', 'disabled');
        if (upwd.val().length < 6 || upwd.val().length > 20) {
            markError(upwd, errors);
        } else {
            unmarkError(upwd);
        }
        if (errors.length > 0) {
            submitButton.removeAttr('disabled');
            errors[0].focus();
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/users/sign_in.json',
                data: {
                    'commit': submitButton.val(),
                    'utf8': '✓',
                    'authenticity_token': $('input[name="authenticity_token"]', i).val(),
                    'user': {
                        'sms_number': standardizePhoneNumber(usms_number.val()),
                        'password': upwd.val(),
                        'remember_me': $('.user_remember_me', i).val()
                    },
                    'locale': locale
                },
                beforeSend: function () {
                },
                error: function (jqXHR) {
                    data = $.parseJSON(jqXHR.responseText);
                    submitButton.removeAttr('disabled');
                    err_msg.html('<h2>' + data.errors.password + '</h2>');
                    popup.setContent($('#IWCONTENT')[0]);
                    usms_number.focus();

                },
                success: function () {
                    $('.sign_links').remove();
                    updateSidebar();
                    fetchDrainInfo();
                    window.location.href = window.location.hostname;
                    window.location.reload();

                }
            });
        }

        return false;
    });




    /* displays user profile inside a popup */
    $('body').on('click', '#my_profile', function () {

        var locale = urlParam('locale');
        $('.navbar-collapse').collapse('hide');

        $.ajax({
            type: 'GET',
            url: '/profile',
            data: {
                'locale': locale
            },
            success: function (msg) {

                createPopup(msg, map.getCenter());
            }

        });
        return false;
    });


    /* displays edit profile form inside a popup */
    $('body').on('click', '#edit_profile_form', function () {

        var locale = urlParam('locale');


        $.ajax({
            type: 'GET',
            url: '/users/edit',
            data: {
                'locale': locale
            },
            success: function (msg) {

                createPopup(msg, map.getCenter());
            }

        });
        return false;
    });

      /*shows form for entering password reset details */
    $('body').on('click','#user_forgot_password_link', function () {
        $.ajax({
            type: 'GET',
            url: '/forgot_password',
            success: function (data) {
                createPopup(data, map.getCenter());

            }
        });
        return false;
    });

    /* function for reseting user password*/
    $('body').on('click', '.button_forgot_password', function () {
        var f = $(this).closest('form.forgot_pw_form');
        var submitButton = $("input[type='submit']", f);
        var uemail = $('.user_email', f);
        var errors = [];


        submitButton.attr('disabled', 'disabled');
        if (!/[\w\.%\+\]+@[\w\]+\.+[\w]{2,}/.test(uemail.val())) {
            markError(uemail, errors);
        } else {
            unmarkError(uemail);
        }
        if (errors.length > 0) {
            submitButton.removeAttr('disabled');
            errors[0].focus();
        } else {
            $.ajax({
                type: 'POST',
                url: '/users/password.json',
                data: {
                    'commit': submitButton.val(),
                    'utf8': '✓',
                    'authenticity_token': $('input[name="authenticity_token"]', f).val(),
                    'user': {
                        'email': uemail.val()
                    }
                },
                beforeSend: function () {
                },
                error: function (jqXHR) {
                    submitButton.removeAttr('disabled');
                    markError(uemail, errors);
                    uemail.focus();
                },
                success: function () {
                    $.ajax({
                        type: 'GET',
                        url: '/users/sign_in',
                        data: {
                            'user': {
                                'email': uemail.val()
                            },
                            'flash': {
                                'notice': "<%= I18n.t("notices.password_reset") %>"
                            }
                        },
                        success: function (data) {
                            createPopup(data, map.getCenter());
                        }
                    });
                }
            });
        }
        return false;
    });

    /* searching table of users */

    $('body').on('keyup', '#myInput', function () {

        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("location");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        return false;
    });

    // requesting leader account
    $('body').on('submit', '#account', function (e){
        showSpinner();
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/users/account',
            data: {
                'user_id': $(this).attr('user_id'),
                'role_id': $('#user_role_id').val()
            },
            success: function (data) {
                fetchDrainInfo();
                hideSpinner();
            }
        });
    })


}); // end of function